# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
dist
build
out

# Turbo cache
.turbo

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production
*.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Testing
coverage
.nyc_output

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.swp
*.swo
.DS_Store

# Prisma
apps/api/prisma/dev.db
apps/api/prisma/dev.db-journal

# Docker
.docker

# Generated
*.generated.ts
src/graphql/generated
apps/web/tsconfig.tsbuildinfo
*.tsbuildinfo

# API logs
apps/api/logs/

# API uploads
apps/api/uploads/
